body {
    color: #333333;
    font-family: Arial;
    max-width: 70%;
    margin: 0px auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0px;
}

header {
    margin: 16px 0px 48px 0px;
}

header a {
    color: #888888;
    margin-left: 16px;
    text-decoration: none;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

.main-content {
    flex-grow: 1;
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    padding: 8px;
    color: white;
}